html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*  */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS EMPIEZA AQUI */
/* FOOTER */
footer{
    position: absolute;
    width: 100%;
    background-color: #313131;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    font-weight: bolder;
}
footer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
footer > div:nth-child(2) img{
    width: 40px;
    margin-top: 1rem;
    scale: 1;
    cursor: pointer;
    transition: all .5s ease;
}
footer > div:nth-child(2) img:hover{
    scale: 1.1;
    
}
/* HEADER */
header{
    position: absolute;
    background-color: #313131;
    width: 100%;
    display: flex;
    height: 50px;
    padding: 1rem;
    color: white;

}
header > nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header > nav > div{
    display: flex;
    align-items: center;
}
header > nav > div > nav{
    display: flex;
    list-style: none;
    gap: 1rem;
}
header > nav > div > nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
.off{
    background-color: #464646 !important;
}
.off:hover{
    background-color: #3aff7f !important;
}

/* LOGIN AND REGISTER */
body {
    font-family: "system-ui", sans-serif;
}
#bodyInicio{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    background: linear-gradient(180deg, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
}
.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"] {
    accent-color: #1ED760;
}
.popup{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    border-radius: 10px;
    background-color: #121212;
    color: white;
    border: 1px solid #1ED760;
    box-shadow: 0 0 20px black;
    animation: start .5s ease;
}
.popupCerrar{
    animation: close .5s ease;
}
.popup > p{
    font-weight: bolder;
    font-size: 1.5rem;
}
.modal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #121212;
    /* margin-top: 3rem; */
}
.modal > h2{
    font-weight: bolder;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    color: #1ED760;
}
.formInicio{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}
.formInicio > input[type="text"], .formInicio > input[type="password"]{
    background-color: #1F1F1F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2rem;
}
.formInicio > label{
    font-weight: bold;
    font-size: 1.3rem;
}
.formInicio > input[type="submit"]{
    margin-bottom: 2rem;
}
.formInicio > p{
    color: #8d8d8d;
}
.formInicio > p > a{
    color: #1ED760;
    transition: all .3s ease;
}
.formInicio > p > a:hover{
    text-shadow: 0 0 10px rgba(56, 255, 126, 0.61);
}
.btn{
    padding: 10px 20px; 
    border-radius: 2rem;
    font-weight: bold;
    border: none;
    background-color: #1ED760;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover{
    padding: 10px 20px;
    border-radius: 2rem;
    font-weight: bold;
    border: none;
    background-color: #3aff7f;
    box-shadow: 0 0 10px rgba(56, 255, 126, .4);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

/* CSS HOME EMPIEZA AQUI */
#bodyHome{
    background: linear-gradient(180deg, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home{
    align-items: center;
    background-color: #121212;
    margin: auto;
    color: white;
    padding: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.552);
}
.home > h2{
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.home > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home > form> input{
    display: inline-block;
    text-decoration: none;
    width: 200px;
    text-align: center;
    background-color: #636363 ;
}
.home > form > h2{
    font-weight: bolder;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    color: #1ED760;
}
.red:hover{
    background-color: hsl(0, 100%, 61%) !important;
    box-shadow: 0 0 10px rgba(255, 56, 56, 0.4) !important;
}

/* CSS DE AMIGOS */
#bodyAmigos{
    background-color: black;
    display: flex;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
}
/* dsadsd */
.amigos{
    border: 1px solid #3aff7f;
    background-color: #313131;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.amigos h2{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.amigos h2 span{
    color: #3aff7f;
    text-shadow: 0 0 5px #3aff7fa9;
}
.amigos .busca{
    background-color: #2A2A2A;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    color: white;
}
.amigos table{
    background-color: #313131;
    border-radius: 1rem;
    filter: drop-shadow(0 0 10px black);
}
.amigos th,td{
    padding: 1rem;
}
.amigos tr:nth-child(2n){
    background-color: #636363;
}
.amigos th{
    font-weight: bolder;
}

.buscador{
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

@keyframes start {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}
@keyframes close {
    0%{
        scale: 1;
    }
    25%{
        scale: 1.25;
    }
    100%{
        scale: 0;
    }
}